/* Regular */
@font-face {
  font-family: 'Trex';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Trex-Regular.woff2') format('woff2');
}

/* Regular Italic */
@font-face {
  font-family: 'Trex';
  font-weight: 400;
  font-style: italic;
  src: url('../../fonts/Trex-RegularItalic.woff2') format('woff2');
}

/* Medium */
@font-face {
  font-family: 'Trex';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/Trex-Medium.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Trex';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Trex-Bold.woff2') format('woff2');
}

/* Bold Italic */
@font-face {
  font-family: 'Trex';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Trex-BoldItalic.woff2') format('woff2');
}
