.fbtrex--onboarding {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.fbtrex--onboarding-box,
.fbtrex--onboarding-collapsed {
    width: 80%;
    margin: 0 auto;
    padding: 12px;

    font-size: 120%;

    border: 2px solid green;
    background-color: white;
    border-radius: 2px;
    border-bottom: 0;

    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.fbtrex--onboarding-box {
    border-width: 5px;

    h1 {
        font-size: 24px;
        color: green;
        text-align: center;
    }
}


.fbtrex--opt-in a {
    font-weight: 600;
    text-decoration: underline;
}

.asterisk-default {
    color: red;
    font-weight: 600;
}
.asterisk-selected {
    color: white;
}

.pretendCheckbox {
    padding-left: 20px;
    font-size: 1.3em;
}

.clickable {
    font-size: 1.3em;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px;
}

#closeContinue {
    text-align: center;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}

.continue-default {
    color: lightgrey;
    cursor: not-allowed;
}
.enabled {
    color: green;
    cursor: pointer;
}
