.fbtrex--onboarding {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.fbtrex--onboarding-box,
.fbtrex--onboarding-collapsed {
    width: 700px;
    margin: 0 auto;
    padding: 12px;

    font-size: 120%;

    border: 2px solid green;
    background-color: white;
    border-radius: 2px;
    border-bottom: 0;

    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.fbtrex--onboarding-box {
    border-width: 5px;

    h1 {
        font-size: 24px;
        color: green;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        color: lightgrey;
        border: 0;
        cursor: not-allowed;

        .fbtrex--info {
            font-size: 16px;
            color: grey;
        }
    }

    .fbtrex--next {
        text-align: center;
    }
}

.welcome-opt-in {
    border: green 4px solid !important;
}

.default-opt-out {
    border: red 2px solid;
    border-radius: 6px;
    text-align: center;
    padding: 4px;
}

.fbtrex--opt-in a {
    font-weight: 600;
    text-decoration: underline;
}

#cc {
    text-decoration: underline;
}

.enabled {
    color: green !important;
    cursor: pointer !important;
}

.warning {
    border: yellow 5px solid !important;
}
