.fbtrex--visual-feedback {
    border-bottom: 1px solid #e5e6e9;
    padding: 6px 12px;
    background-color: #f6f7f9;

    h1 {
        img {
            vertical-align: middle;
            margin: 0 4px 2px 0;
        }

        margin-bottom: 10px
    }

    .fbtrex--badge {
        color: red;
        margin-right: 6px;
    }

    .fbtrex--message {
    }
}

.fbtrex--visual-feedback.fbtrex--visibility-public {
    .fbtrex--badge {
        background-color: green;
        color: white;
        padding: 1px 3px;
        border-radius: 50%;
    }
}
