.fbtrex--visual-feedback {
    border-bottom: 1px solid #e5e6e9;
    padding: 6px 12px;
    background-color: #f6f7f9;

    img {
        vertical-align: middle;
        margin: 0 4px 2px 0;
    }

    .fbtrex--badge {
        color: red;
        margin-left: 6px;
    }

    .fbtrex--message {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fbtrex--logo {
        margin-left: 40px;
    }

    &.fbtrex--less-info {
        padding: 0;
        height: 0;
        overflow: hidden;
        border-bottom: none;
        border-top: none;
    }
}

.fbtrex--visual-feedback.fbtrex--visibility-public {
    &.fbtrex--less-info {
        border-top: 2px solid #94ca94;
    }

    .fbtrex--badge {
        background-color: green;
        color: white;
        padding: 1px 3px;
        border-radius: 50%;
    }
}
